**/__pycache__/
*.pyc
*.pyo
*.pyd

.env

.vscode/

data/raw/**
!data/raw/.gitkeep

data/processed/**
!data/processed/chunks.json
!data/processed/final_chunks.json

data/chromadb/**
!data/chromadb/.gitkeep

**/mlruns/
**/mlartifacts/

*.db
*.db-shm
*.db-wal

*_old.ipynb
README_old.md